/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
 
html {
  font-size: 16px;
}
 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed;
  text-align: left;
}
 
ul, 
ol {
  list-style-type: none;
}
 
a {
	color: #e2e3ed;
  text-decoration: none;
}
 
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
  margin: 20px 0;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  margin: 20px 0;
}
 
p {
  font-size: .875em;
  line-height: 1.285;
}
 
img {
  width: 100%;
}
 
figure {
  margin: 0px;
}
 
address {
  font-style: normal;
  
}
 
.content-wrapper {
  width: 90%;
  margin: 30px 0px;
}

/*---------- Base header - footer styles -------------*/

header,
footer {
  background-color: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Header styles */
header {
  padding: 15px 0px;
}

header .content-wrapper {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .header-divider {
  background: #3a3a3a; 
  width: 100%;
  height: 1px;
  margin: 10px 0 10px 0;
}

header nav {
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
header nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  font-size: 1.125em;
  padding: 0em 1.25em;
}

/* Footer Styles */

footer {
  text-align: center;
  flex-direction: column;
}
footer .content-wrapper {
  width: 55%;
  margin: 30px 0;
}
footer h4 {
  text-align: center;
} /*-- Not in Teacher code --*/
footer p {
  margin: 0px;
  text-align: center;
}
footer .contact {
  margin-bottom: 50px;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-icons p {
  background-color: #527158;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  margin: 20px 0;
}

/*---------- Mobile styles - Homepage -------------*/

/* Hero Area */

.hero-area {
  background: url('../img/jake-melara-30679-unsplash.jpg') no-repeat #333;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.hero-area .content-wrapper {
  margin-bottom: 335px;
}
.hero-area h1 {
  margin-top: 20px;
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif; 
  font-weight: 500; 
  line-height: 1.2; 
}

/* Form Aside */

aside {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
aside .form {
  margin-top: 30px;
}
 aside .form-description h3 {
   margin: 0;
 }
input[type=text] {
  font-size: 0.875em;
  box-sizing: border-box;
  width: 100%;
  color: #9d9ea4;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/* Features */

.features {
  background: url('../img/rawpixel-800820-unsplash1.jpg') no-repeat #333;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.features h2 {
  margin: 20px 0;
}
.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.features article {
  width: 63%;
  margin: 30px 0px;
}
.features .fontawesome-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.features p {
  margin: 0px;
  text-align: center;  
}
.features i {
	font-size: 3.75em;
  margin-bottom: 40px;
}

/* Reviews */

.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.reviews h2 {
  line-height: 1;
  margin-bottom: 40px;
}
.reviews h3 {
  width: 55%;
  margin-top: 20px 0;
}

/*---------- Mobile styles - About page -------------*/

/* Mission */

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.mission .content-wrapper {
  margin: 50px 0;
}
.mission h2 {
  margin: 0px;
}

/* Map */

.map figure {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
}
.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Contact Section */

.contact-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.contact-section h2 {
  margin: 20px 0;
}
.contact-content {
  margin: 0px 0px 20px 0px;
}
.contact-content p{
  margin: 0px;
}

/*---------- Mobile styles - FAQs page -------------*/

/* main */

.faqs {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.faqs .content-wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.faqs h2 {
  margin-bottom: 20px;
  line-height: 1;
}
.faq-content {
  margin-bottom: 0px;
}
.faq-content h4 {
  margin: 40px 0 10px 0;
  line-height: 1.333;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/
  /* General styles */
  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.333em;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  /* Header */

  header {
    padding: 33px 0;
    justify-content: space-around;
  }

  header .content-wrapper {
    width: 100%;
    justify-content: space-between;
  }

  header figure {
    width: 30%;
  }

  header nav {
    width: 20%;
  }

  header nav ul {
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  /* Hero Area */
  .hero-area {
    min-height: 600px;
  }
  .hero-area h1 {
    font-size: 3em;
    line-height: 1em;
    margin: 0;
  }
  
  /* Aside */
  aside .content-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  aside .content-wrapper .form-description,
  aside .content-wrapper .form {        
      width: 40%;        
      margin: 0;
  }
  aside .content-wrapper .form h3 {
    margin: 0px 0 15px 0;
  }

  /* Features */
  .features h2 {
    margin-bottom: 20px;
  }
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }
  .features .features-item-description {
    width: 62%;
  }

  /* Reviews */
  .reviews article {
    display: flex;
    justify-content: space-between;
  }
  .reviews h2{
    width: 85%;
  }
  .reviews article figure {
    width: 48%;        
  }
  .reviews .content-wrapper div {
    width: 48%;
  }
  .reviews h3{
    width: 75%;
    margin: 0;
  }

  /* Footer */
  footer .content-wrapper {
    width: 65%;
    margin: 100px 0;
  }

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  } 
  footer .contact {
    margin-bottom: 0;
  }
  footer .social {
    width: 40%;
  }
  footer h4 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  footer p {
    line-height: 1.35em;
  }
  footer .copyright {
    width: 100%;
  }
  
  /***** About Page *****/
 
  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  } 
  .mission-content p {
    width: 45%;
  } 
  .map figure {
    padding-bottom: 45.5%;
  }
  .contact-section .content-wrapper h2 {
    width: 80%;
  } 
  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .contact-content h4 {
    font-size: 1.5em;
  }

  /**** FAQs Page *****/

  .faqs .content-wrapper {
    justify-content: space-between;
  }
  .faq-content {
    flex-basis: 45%;
  }
  .faqs h2 {
    width: 100%;
  }
  .faqs h4, .faqs p {
    font-size: 0.875em;
    line-height: 1.125;
  }
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/
  /* General styles */
  
  .content-wrapper {
    max-width: 960px;
    margin: 100px 0;
  }
  h2 {
    font-size: 2.25em;
  }
  h3, h4 {
    font-size: 2.25em;
  }
  p {
    font-size: 1.875em;
    line-height: 1.333;
  }

  /* Header */
  header {
    padding: 15px 0;
  }

  /* Hero */
  .hero-area {
    min-height: 775px;
  }
  .hero-area h1 {
    font-size: 3.75em;
    width: 80%;
  }

  /* Aside */
  aside .content-wrapper {
    justify-content: space-around;
  }
  aside .content-wrapper .form-description, aside .content-wrapper .form {        
    width: 45%;        
    margin: 0;
  }
  .form-description p {
    font-size: 1.125em;
  }

  /* Features */
  .features .features-item-description {
    width: 95%;
  }
  .features h2 {
    width: 90%;
  }
  .features article {
  flex-basis: 33%;
  }
  .features article {
    width: 100%;
  }

  /* Reviews */
  .reviews article div {
    width: 42%;
  }
  .reviews h2 {
    padding-bottom: 50px;
  }
  .reviews p {
    font-size: 1.2em;
  }

  /* Footer */
  footer h4{
    font-size: 1.875em;
  }

  /***** About Page *****/
  .mission h2, .contact-section .content-wrapper h2 {
    width: 95%;
    font-size: 3em;
  }
  .map figure {
    padding-bottom: 37.5%;
  }
  .mission-content p {
  width: 45%;
  } /*= Not in teacher copy =*/

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  } /*= Not in teacher copy =*/
    
  /**** FAQs Page *****/

  .faq-content {
    flex-basis: 45%;
  } /*= Not in teacher copy =*/

  .faqs h2 {
    width: 100%;
    font-size: 3em;
  }
  .faqs h4, .faqs p {
    font-size: 1.125em;
    line-height: 1;
  }

}
    

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

